<section>
  <table>
      <tr>
        <th>Skill</th>
        <th>APT</th>
        <th>Type</th>
        <th>Total</th>
      </tr>
      <tr>
        <td>Athletics</td>
        <td>SOM</td>
        <td>Physical</td>
        <td>
          <input name="data.athletics" type="text" value="{{data.athletics}}" data-dtype="Number" />
        </td>
      </tr>
    </table>
</section>
